<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- 配置本地仓库位置，根据实际情况修改 -->
    <!-- <localRepository>D:/mvn/repository</localRepository> -->

    <!-- 配置Maven镜像源为中国源 -->
    <mirrors>
        <mirror>
            <id>aliyunmaven</id>
            <mirrorOf>*</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
        
        <mirror>
            <id>aliyun-central</id>
            <mirrorOf>central</mirrorOf>
            <name>阿里云中央仓库</name>
            <url>https://maven.aliyun.com/repository/central</url>
        </mirror>
        
        <mirror>
            <id>aliyun-jcenter</id>
            <mirrorOf>jcenter</mirrorOf>
            <name>阿里云jcenter仓库</name>
            <url>https://maven.aliyun.com/repository/jcenter</url>
        </mirror>
        
        <mirror>
            <id>aliyun-google</id>
            <mirrorOf>google</mirrorOf>
            <name>阿里云google仓库</name>
            <url>https://maven.aliyun.com/repository/google</url>
        </mirror>
        
        <mirror>
            <id>aliyun-gradle-plugin</id>
            <mirrorOf>gradle-plugin</mirrorOf>
            <name>阿里云gradle-plugin仓库</name>
            <url>https://maven.aliyun.com/repository/gradle-plugin</url>
        </mirror>
    </mirrors>

    <!-- 配置仓库 -->
    <profiles>
        <profile>
            <id>aliyun</id>
            <repositories>
                <repository>
                    <id>aliyunmaven</id>
                    <name>阿里云公共仓库</name>
                    <url>https://maven.aliyun.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            
            <pluginRepositories>
                <pluginRepository>
                    <id>aliyunmaven</id>
                    <name>阿里云公共仓库</name>
                    <url>https://maven.aliyun.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <!-- 激活配置 -->
    <activeProfiles>
        <activeProfile>aliyun</activeProfile>
    </activeProfiles>
</settings>